body{
    font-family:Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction:column;
    gap:10px;
    align-items:center;
    padding-top:50px;
    background-color:#313636
}

.cityName{
    width:260px;
    height:45px;
    border:2px solid #a7a0a0;
    border-radius: 8px;
    text-align:center;
    font-weight: 600;
    font-size:15px;
}

.getWeather{
    width:120px;
    height:49px;
    border:0px solid white;
    border-radius: 8px;
    text-align:center;
    background-color: #4e34f3;
    font-weight: 600;
    font-size:15px;
    color:white;
}


.city{
    font-size:40px;
    text-align:center;
    padding-top:30px;
}

.weather{
    font-size:30px;
    text-align:center;
}

.weatherInfo{
     font-size:25px;
    text-align:center;
}

.weatheremoji{
     font-size:60px;
     text-align:center;
}

.city {
    margin: 10px;
}

.weather {
    margin: 10px;
}

.weatheremoji{
    margin:10px;
}